<md-dialog aria-label="Reportes"  ng-controller="usersController" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon class="material-icons" md-svg-icon="components/assets/svg/archive_white.svg"></md-icon>
        <h3>Reportes</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="confirmClose($event)" ng-controller="menuController">
          <md-icon md-svg-src="components/assets/svg/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h3>Seleccione el tipo de reporte</h3>       
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="submit" ng-click="answer('XLSX')" layout="row" layout-align="center center" ng-disabled="progressBar">
              <md-icon class="material-icons" md-svg-icon="components/assets/svg/excel.svg"></md-icon>
      </md-button>
      <span flex></span>
      <md-button type="submit" ng-click="answer('PDF')" layout="row" layout-align="center center" ng-disabled="progressBar">
          <md-icon class="material-icons" md-svg-icon="components/assets/svg/pdf.svg"></md-icon>
      </md-button>
    </md-dialog-actions>
  </form>
  <div layout="row" layout-sm="column" layout-align="space-around" style="position: absolute;bottom:1%;height:2000px;width:100%" ng-show="progressBar">
                <md-progress-circular md-mode="indeterminate" md-diameter="100" style="position:fixed;bottom:50%"></md-progress-circular>
        </div>
</md-dialog>