<div class="page-container" ng-controller="usersController">

	    <md-toolbar class="md-hue-3"  layout="row" show-gt-md>   
	    <div class="md-toolbar-tools" flex>    
        	<span class="md-toolbar-tools hide-sm md-padding" hide-sm>Usuario Modificado</span>
        	<span flex></span>
    		<md-button class="md-icon-button" ng-click="confirmClose($event)" ng-controller="menuController">
       		 	<md-icon md-svg-src="components/assets/svg/close.svg" aria-label="Close dialog">
       		 	</md-icon>
    		</md-button>
    	</div>
        </md-toolbar>  
		
		<md-card class="page" flex>
		<form name="formC.modUser" ng-submit="formC.modUser.$valid && !invalidConfirm &&  !invalidConsPass && !invalidMayuPass && !invalidCharPass && !invalidNumbPass && !restrictiveWord &&  modifiedUserForm($event)"
		ng-init="cargarData()"  ng-cloak novalidate>	
		<md-card-content ng-disabled="habInactivo" flex>		     			    
		 	<div layout-gt-sm="row"  >			
			    <md-input-container class="md-block" flex-gt-sm="" layout-padding>
			    	 <!-- tipo Documento -->
			    	<label>Tipo Documento</label>				 
					<md-select name="tipodocC" id="tipodocC"  ng-model="modUser.tipoC" ng-disabled="habInactivo" required>
						<md-option ng-value="tipo.id" ng-repeat="tipo in tipoDocumentos">
						{{tipo.nombre}}
						</md-option>
					</md-select> 
					<div ng-messages="formC.modUser.tipodocC.$error" >
							<div ng-message="required">{{requerido}}</div>						
					</div>
				</md-input-container>
				<!-- Numero de documento -->
				<md-input-container class="md-block" flex-gt-sm="" layout-padding>
			    	<label>Número Documento</label>				 
					<input id="numDocC" ng-model="modUser.numeroDocC"  regex-Doc="modUser.tipoC" name="numDocC"  maxlength="15"  value="numeroDocumento" ng-disabled="habInactivo" reg-ex-input reg-ex="^[a-zA-Z0-9\u0008\u000A]+$" required/>
					<div ng-messages="formC.modUser.numDocC.$error" >
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="regexDoc">{{invalidCh}}</div>
					</div>
				</md-input-container>
				<!-- Digito de verficación Nit-->	
				<md-input-container class="md-block"  style="width:20%" flex-sm layout-padding ng-show="dvR = (modUser.tipoC == 2)">		<label>Dv</label>
				<input id="dv" ng-model="modUser.dv"  name="dv"  maxlength="1" value="dv" 	reg-ex-input reg-ex="^[0-9\u0008\u000A]+$" dv-Validate="[modUser.tipoC,modUser.numeroDocC]" ng-required="dvR" aria-label="dv Documento" style="width:15px" ng-disabled="habInactivo"/>
				<div class="error-wrapper"  ng-if="formC.modUser.dv.$invalid || invalidDv">
					<div ng-messages="formC.modUser.dv.$error">
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="pattern">{{invalidCh}}</div>
						<div ng-message="dvValidate">{{invDvMsg}}</div>
					</div>
		
					</div>										
				</md-input-container>
	    	</div>
				
			<div layout-gt-sm="row"  >    	
			     <md-input-container class="md-bloc k" flex-gt-sm="" layout-padding> 
			    	<!-- Nombres -->
			    	<label>Nombres</label>				 
					<input id="nombre" ng-model="modUser.nombre"  ng-pattern="validaAlfaNumericoEsp" name="nombre"  maxlength="50"  value="nombre" ng-disabled="habInactivo" required/>	
					<div ng-messages="formC.modUser.nombre.$error" >
							<div ng-message="required">{{requerido}}</div>
							<div ng-message="pattern">{{invalidCh}}</div>
					</div>								
			    </md-input-container>
			    <md-input-container class="md-block" flex-gt-sm="" layout-padding> 
			    <!-- Apellidos -->
			    	<label>Apellidos</label>				 
					<input id="apellidos" ng-model="modUser.apellidos" name="apellidos"  maxlength="50"  value="apellidos" ng-disabled="habInactivo" required/>
					<div ng-messages="formC.modUser.apellidos.$error" >
							<div ng-message="required">{{requerido}}</div>
							<div ng-message="pattern">{{invalidCh}}</div>
					</div>	
			    </md-input-container> 
			</div>
            <div layout-gt-sm="row"  >    	
			     <md-input-container class="md-block" flex-gt-sm="" layout-padding> 
			    	<!-- Telefono -->
			    	<label>Telefóno</label>				 
					<input id="telefono" ng-model="modUser.telefono" name="telefono"  maxlength="50"  ng-value="telefono"/>	
					<div ng-messages="formC.modUser.telefono.$error" >
							<div ng-message="required">{{requerido}}</div>
							<div ng-message="pattern">{{invalidCh}}</div>
					</div>								
			    </md-input-container>
			    <md-input-container class="md-block" flex-gt-sm="" layout-padding> 
			    <!-- Dirección -->
			    	<label>Dirección</label>				 
					<input id="direccion" ng-model="modUser.direccion" name="direccion"  maxlength="50"  ng-value="direccion"/>
					<div ng-messages="formC.modUser.direccion.$error" >
							<div ng-message="required">{{requerido}}</div>
							<div ng-message="pattern">{{invalidCh}}</div>
					</div>	
			    </md-input-container> 
			</div>
			
			<div layout-gt-sm="row"  >	    	
				<md-input-container class="md-block" flex-gt-sm="" layout-padding> 
				<!-- Super Administrador -->
			    	<label>Super Administrador</label>				 
					<md-select name="superAdmin" id="superAdmin"  ng-model="modUser.superAdmin"  ng-disabled="habSAdmin">			
						<md-option ng-value="superAdmin.id" ng-repeat="superAdmin in superAdmins" >
						{{superAdmin.nombre}}
						</md-option>
					</md-select> 
				</md-input-container>
			</div>
			
			<div layout-gt-sm="row"  >	    	
			    <md-input-container class="md-block" flex-gt-sm="" layout-padding> 
			    <!-- Correo Electronico -->
			    	<label>Correo Electrónico</label>				 
					<input id="email" ng-model="modUser.email"  regexmail name="email"  maxlength="100"  value="email" ng-disabled="habInactivo" required/>
					<div class="error-wrapper" ng-if=" formC.modUser.email.$invalid || invalidEmail">
					<div ng-messages="formC.modUser.email.$error" >
							<div ng-message="required">{{requerido}}</div>
							<div ng-message="regexmail">{{invEmail}}</div>
					</div>	
					<!-- <div ng-messages="formC.modUser.email.$invalid" >
						<div ng-messages="invalidEmail" ng-show="invalidEmail" ng-hide="formC.modUser.email.$error.required">{{invEmail}}</div>
					</div> -->
					</div>	
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm="" layout-padding>
				<!-- Login -->
			    	<label>Login</label>				 
					<input id="login" ng-model="modUser.login"  name="login"  value="login" ng-disabled="true" />	
				</md-input-container>				
			</div>   

			<div layout-gt-sm="row" >	    	
			    <md-input-container class="md-block" flex-gt-sm="" layout-padding> 
			    <!-- Contraseña -->
			    	<label>Contraseña</label>				 
					<input type="password" id="passwordC" ng-model="modUser.passwordC"  name="passwordC"  value="passwordC" ng-disabled="true" /> 
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm="" layout-padding>
				<!-- Confirmar Contraseña -->
			    	<label>Confirmar Contraseña</label>				 
					<input type="password" id="ConfirmPassC" ng-model="modUser.ConfirmPassC" name="ConfirmPassC"  value="ConfirmPassC" ng-disabled="true" />	
				</md-input-container>				
			</div>   

			<div layout-gt-sm="row"  >	    	
			    <md-input-container class="md-block" flex-gt-sm="" layout-padding> 
			    <!-- Perfiles -->
			    	<label>Perfiles</label>				 
					<md-select name="perfilC" id="perfilC"  ng-model="modUser.perfilC"  ng-disabled="habInactivo" required>
						<md-option ng-value="perfil.id" ng-repeat="perfil in perfiles" >
								{{perfil.nombre}}
						</md-option>
					</md-select> 
					<div ng-messages="formC.modUser.perfilC.$error" >
							<div ng-message="required">{{requerido}}</div>						
					</div>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm="" layout-padding> 
				<!-- Estado -->
			    	<label>Estado</label>				 
					<md-select name="estadoC" id="estadoC" ng-disabled="habInactivo" ng-change="validaEstado(modUser.estadoC)" ng-model="modUser.estadoC" required>			 
						<md-option ng-value="estado" ng-repeat="estado in estadosModif">
								{{estado}}
						</md-option>
					</md-select> 
					<div ng-messages="formC.modUser.estadoC.$error" >
							<div ng-message="required">{{requerido}}</div>						
					</div>
				</md-input-container>			
			</div> 	

			<div layout-gt-sm="row"  >	    	
			    
			    <md-input-container class="md-block" flex-gt-sm="" layout-padding> 
			    <!-- Direcciones Ip Autorizadas  Ip1-->
			    	<label>Direcciones Ip Autorizadas</label>				 
					<input id="ip" ng-model="modUser.ip1" ng-pattern="validIp" name="ip1"  maxlength="100"  value="ip1"  ng-disabled="habInactivo" required valid-number style="width: 250px"/>
					<div ng-messages="formC.modUser.ip1.$error" >
							<div ng-message="required">{{requerido}}</div>
							<div ng-message="pattern">{{InvalidStructur}}</div>
					</div>	
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm="" layout-padding>
				<!-- Ip2 -->			    			 
					<input id="ip2" ng-model="modUser.ip2"  ng-pattern="validIp" name="ip2"  maxlength="50"  value="ip2"  aria-label="ip2" valid-number style="width: 250px" ng-disabled="habInactivo" />
					<div ng-messages="formC.modUser.ip2.$error" >
							<div ng-message="pattern">{{InvalidStructur}}</div>
					</div>	
				</md-input-container>	
				<md-input-container class="md-block" flex-gt-sm="" layout-padding>
				<!-- Ip3 -->			    			 
					<input id="ip3" ng-model="modUser.ip3"  ng-pattern="validIp" name="ip3"  maxlength="50"  value="ip3" aria-label="ip3" valid-number style="width: 250px" ng-disabled="habInactivo"/>
					<div ng-messages="formC.modUser.ip3.$error" >
						<div ng-message="pattern">{{invalidCh}}</div>
					</div>	
				</md-input-container>			
			</div>	
		</md-card-content>    
			<md-card-actions>
			<div layout="row" layout-align="end center">
				<md-button type="submit"  ng-disabled="habSubmit || progressBar" ng-click="submitted=true" ng-hide="habInactivo">
					<md-tooltip>Guardar Usuario</md-tooltip>
				    <md-icon class="material-icons" md-svg-icon="components/assets/svg/save_black.svg"></md-icon>
				</md-button>	
				<span class="ng-messages" style="color:red" ng-show='(submitted && formC.modUser.$invalid )'>Verificar campos en rojo </span>	
			</div>
			</md-card-actions>
			

		</form>
<div layout="row" layout-sm="column" layout-align="space-around" style="position: absolute;bottom:1%;height:2000px;width:100%" ng-show="progressBar">
                <md-progress-circular md-mode="indeterminate" md-diameter="100" style="position:fixed;bottom:50%"></md-progress-circular>
        </div>
		</md-card>


</div>