<div ng-controller="ecommerceController">
<link rel="stylesheet" href="components/css/estilos6.css">
<div class="container">
   <div class="card">
       <div class="pull-right" style="margin: 10px" >
                    <a href="" class="btn btn-warning pull-right" ng-click="pagar($event)">Modificar</a>
                    <h4 class="glyphicon glyphicon-map-marker"></h4>
                    <h4><strong>Sandra Lorena Cardona Zapata</strong></h4>
                    <h6>Tv 16a # 40 - 31 sur</h6>
                    <h6>Bogotá</h6>
                    <h6>Colombia</h6>
                    <h6>3196140429</h6>
                    <h4><strong>SKFGL1002930940KS</strong></h4><a href="" class="btn btn-success pull-right" ng-click="pagar($event)">Seguir pedido</a>
                    <h6>Fecha de pedido: 2020-11-03</h6>
                    <h6>Fecha de entrega estimada: 2020-11-10</h6>
                </div>
       </div>

</div>
    </div>