<!-- home.html -->
<div ng-controller="loginController">
    <div class="page-container">
        <md-card class="intro-page" layout="column" layout-align="center center" flex>
            <h1><font color="blue">ias</font></h1>
            <h3><font color="red">Error al cargar la aplicación, por favor intente nuevamente</font></h3>
            <!-- <md-button class="md-raised md-primary"                       aria-label="FAB" name="action" ng-click="entrarLogin('/login')">Entrar</md-button> -->
        </md-card>
<!--         <md-bottom-sheet>
			<div layout="row" layout-align="center center" flex>
		    	© 2019. Developed by Datacof
			</div>
		</md-bottom-sheet> -->
    </div>
</div>


