<!-- Contenedor para la barra izquierza de navegación -->
<div ng-controller="menuController" style="background-color:#F3F0F0;" layout="column" ng-cloak>
    <md-toolbar class="md-hue-3">
        <div md-theme = "customTheme">
        <div class="md-toolbar-tools" style="height:600px;">

            <md-button id="principal" class="md-icon-button" aria-label="Side Panel" ng-click="menuLeft()" ng-hide="isOpenRight() || menuTrue" >
                <md-tooltip>Menu Inicio</md-tooltip>
                <md-icon class="md-default-theme" class="material-icons" md-svg-icon="components/assets/svg/menu.svg"></md-icon>
            </md-button>
            
            <span flex></span>
                <md-icon md-svg-src="components/assets/img/women.png" class="avatar">
                </md-icon>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="goMain()" aria-label="Open sample menu">
                <md-tooltip>Ir a pantalla Principal</md-tooltip>
                <span class="glyphicon glyphicon-home"></span>
            </md-button>
            <md-button class="md-icon-button" ng-click="goCart($event)" aria-label="Open sample menu">
                <md-tooltip>Carrito de compras</md-tooltip>
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </md-button>
            <md-menu-bar>
                <md-menu>
                    <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" aria-label="Open sample menu">
                        <md-icon md-svg-src="components/assets/svg/avatar_1.svg" class="avatar">
                        </md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button>{{userName}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>Login: {{userLogin}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>Ip acceso: {{userIp}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>Último login : {{userLastlog| date : "medium"}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="chUserPassword($event);">Cambio de Contraseña</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="closeSession();">Cerrar Sesión</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>

            <a id="logoRed" class="navbarImg" ui-sref-opts="{reload: true}" flex="10">
                <img src="{{paramBanner}}" width="100%" id="imgLogoHeader" />
            </a>

        </div>
        </div>
    </md-toolbar>

    <!-- Menu de navegacion -->
    <md-backdrop class="md-sidenav-backdrop md-opaque ng-scope md-locked-open" style=""></md-backdrop>
    <md-sidenav md-whiteframe-z2 md-component-id="left" style="width: 10%">
        <md-toolbar class="md-hue-3" layout="row">
            <div class="md-toolbar-tools" style=" font-family: Verdana, serif;">
                <h2>
                    <span>Menú Principal</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" style=" font-family: Verdana, serif;"aria-label="Close Side Panel" ng-click="closeMenu()">
                    <md-tooltip>Cerrar Menu</md-tooltip>
                    <md-icon class="md-default-theme" class="material-icons" md-svg-icon="components/assets/svg/close.svg"></md-icon>
                </md-button>
            </div>

        </md-toolbar>
        <section layout="row" >
            <md-content class="md-padding side-menu collapsed " ui-tree flex role="navigation" >
                <md-list class="dropdown" ui-tree-nodes="" ng-model="userMenu" flex>
                    <md-list-item class="dropdown-toggle md-2-line" ng-click="toggle.list1 = !toggle.list1;checkChildren(children.resource, children.children);" ng-repeat="children in userMenu.children" ui-tree-node layout="row">
                        <div class="md-list-item-text" layout="column" style="font-family: Verdana, serif;">
                            <h3>
                                <md-icon class="material-icons" md-svg-icon="components/assets/svg/plus.svg"></md-icon>{{children.label}}
                                <md-icon class="md-primary md-icon-button" class="material-icons" ng-show="!toggle.list1"></md-icon>
                                <md-icon class="md-primary md-icon-button" class="material-icons" ng-show="toggle.list1"></md-icon>
                            </h3>
                            <!-- subitems -->
                            <md-content class="collapsed">
                                <md-list ui-tree-nodes="" ng-model="children.children" ng-show="toggle.list1" flex>
                                    <md-list-item ng-repeat="subitem in children.children" ui-tree-node ng-click="$mdMenu.close($event) ; closeMenu(); validarAcceso(subitem.resource);">

                                        <div class="md-list-item-text" layout="column">
                                            <h3 class="menu-item" ui-tree-handle>{{subitem.label}}</h3>

                                        </div>

                                    </md-list-item>
                                </md-list>
                            </md-content>

                        </div>
                    </md-list-item>
                </md-list>
            </md-content>

        </section>
    </md-sidenav>
   
    
    <div ui-view="modulosMenu">
        <!--
        <div ng-include="'templates/pages/operationParameterPages/mainListOperation.html'">
        </div>
-->
        <!--<iframe src="http://127.0.0.1:9000/custom/rookapp" style="width: 100%; height: 100vh"></iframe>-->
        <!--<embed src="http://127.0.0.1:9000/custom/rookapp" width="150%" height="1000px">-->


    </div>

    </div>
<link rel="stylesheet" href="components/css/estilos2.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.ias.com/">ias S.A.S</a></u> Comercio productos lindos y accesorios para personas lindas, BOGOTA.</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.datacof.com" target="_blank">Bogotá Colombia</a></p>
				</div>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
