<div ng-controller="resetPasswordController" >
    <md-toolbar class="md-hue-3"  layout="row" show-gt-md>   
        <div class="md-toolbar-tools" flex>  
            <span class="md-toolbar-tools hide-sm md-padding" hide-sm>Recuperación de contraseña</span>
            <md-button class="md-icon-button" ng-click="closeDialog($event)">
       		 	<md-icon md-svg-src="components/assets/svg/close.svg" aria-label="Close dialog">
       		 	</md-icon>
    		</md-button>
        </div>
    </md-toolbar>
    
    <md-card class="page" flex>	
        <form name="resetPassword.form" ng-submit="!resetPassword.form.$invalid && submitResetPassword($event)" ng-cloak novalidate >
            <md-card-content flex>
                <label>¿Está seguro de que desea reestablecer su contraseña?</label>
                <md-divider style="border-top-width: 4px; margin: 0; border-top-color:rgb(40,53,147); padding-bottom: 15px"></md-divider>
                <div layout-gt-sm="row">
                      <md-input-container>
                        <label>Usuario</label>
                         <md-icon class="material-icons" md-svg-icon="components/assets/svg/account_circle.svg"></md-icon>
                         <md-icon>account_circle</md-icon> 
                        <input caracteres-valida required ng-model="lloginUsuario" name="lloginUsuario" onpaste="return false" maxlength="20">
                        <div ng-messages="resetPassword.form.lloginUsuario.$error">
                            <div ng-message="required">Requerido</div>
                        </div>
                    </md-input-container>
                    <md-button type="submit" ng-click="submitted=true">ACEPTAR
                        <md-tooltip>Recordar contraseña</md-tooltip>
                        <md-icon class="material-icons" md-svg-icon="components/assets/svg/save_black.svg"></md-icon>
                    </md-button>
                    <md-button ng-click="closeDialog($event)">CANCELAR</md-button>
                </div>
            </md-card-content>
            <md-card-actions>
              <div layout="row" layout-align="end center" >
              </div>
            </md-card-actions>
        </form>
    </md-card>
</div>