<div class="page-container" ng-controller="usersController">
<md-dialog aria-label="Desbloquear Usuario" >
<form name="formB.bloqUser" ng-submit="formB.bloqUser.$valid && bloqUserForm($event)" ng-init="cargarDataBloq()" ng-cloak novalidate>
<md-toolbar>
<div class="md-toolbar-tools">
	<md-icon md-svg-src="components/assets/svg/lock_open.svg" ></md-icon>
	<h5>Desbloquear Usuario</h5>
	<span flex></span>
    <md-button class="md-icon-button" ng-click="confirmClose($event)" ng-controller="menuController">
        <md-icon md-svg-src="components/assets/svg/close.svg" aria-label="Close dialog"></md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div class="md-dialog-content">
	<md-input-container class="md-block" flex-gt-sm="" layout-padding>
		<!-- Usuario -->
		<label>Usuario</label>				 
		<input id="loginB" ng-model="bloqUser.loginB" name="loginB" value="loginB" ng-disabled="true"/>
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm="" > 
		<!-- Estado -->
		<label>Estado</label>				 
			<md-select name="estado" id="estado"  ng-model="bloqUser.estado" required>			 
				<md-option ng-value="estado" ng-repeat="estado in estadosBloq">
					{{estado}}
				</md-option>
			</md-select> 
		<div ng-messages="formB.bloqUser.estado.$error" >
			<div ng-message="required">{{requerido}}</div>						
		</div>
	</md-input-container>
</div>
</md-dialog-content>
<md-dialog-actions layout="row">
	<div layout="row" layout-align="end center">
		<md-button type="submit"  ng-disabled="habSubmit || progressBar" ng-click="submitted=true">
			<md-tooltip>Guardar Estado</md-tooltip>
				<md-icon class="material-icons" md-svg-icon="components/assets/svg/save_black.svg"></md-icon>
			</md-button>	
		<span class="ng-messages" style="color:red" ng-show='(submitted && formB.bloqUser.$invalid)'>Verificar campos en rojo </span>	
	</div>
</md-dialog-actions>
</form>
<div layout="row" layout-sm="column" layout-align="space-around" style="position: absolute;bottom:1%;height:2000px;width:100%" ng-show="progressBar">
                <md-progress-circular md-mode="indeterminate" md-diameter="100" style="position:fixed;bottom:50%"></md-progress-circular>
        </div>
</md-dialog>


</div>