<div class="page-container" ng-controller="usersController">
<md-dialog aria-label="Cambio de Contraseña">
<form name="formD.chPassUser" ng-submit="formD.chPassUser.$valid && !invalidConfirm && !invalidLastPass && !invalidConsPass && !invalidMayuPass && !invalidCharPass && !invalidNumbPass && !restrictiveWord && chPassUserForm($event)" ng-init="cargarDataChPass()" ng-cloak novalidate>
<md-toolbar>
<div class="md-toolbar-tools">
	<md-icon md-svg-src="components/assets/svg/key_white.svg" ></md-icon>
	<h5> Cambio de Contraseña</h5>
	<span flex></span>
    <md-button class="md-icon-button" ng-click="confirmClose($event)" ng-controller="menuController">
        <md-icon md-svg-src="components/assets/svg/close.svg" aria-label="Close dialog"></md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div class="md-dialog-content" >
	<div layout-gt-sm="row" layout-align="center center" >	
	<md-input-container class="md-block" flex-gt-sm=""  layout-padding>
		<!-- Usuario -->
		<label>Usuario</label>				 
		<input id="loginD" ng-model="chPassUser.loginD" name="loginD" value="loginD" style="width: 200px" ng-disabled="true"/>
	</md-input-container>

	</div>	

	<div layout-gt-sm="row"  >	
	<md-input-container class="md-block" flex-gt-sm="" layout-padding>
		<!-- Usuario -->
		<label>Nueva Contraseña</label>				 
		<input type="password" id="newPass" ng-model="chPassUser.newPass" name="newPass" value="newPass" ng-blur="validaPassCh(chPassUser.newPass)"  maxlength="15" style="width: 200px" required/>
		<div class="error-wrapper" ng-if="formD.chPassUser.newPass.$invalid || invalidlengPass || invalidLastPass || invalEqConsPass || invalidConsPass || invalidMayuPass || invalidCharPass || invalidNumbPass || restrictiveWord">
			<div ng-messages="formD.chPassUser.newPass.$error" >
				<div ng-message="required">{{requerido}}</div>
			</div>
			<div ng-messages="formD.chPassUser.newPass.$invalid" ng-hide="formD.chPassUser.newPass.$error.required">
				<div ng-messages="invalidlengPass" ng-show="invalidlengPass">{{invalidLenght}}</div>		
				<div ng-messages="invalidLastPass" ng-show="invalidLastPass">{{LastPassMsg}}</div>	
				<div ng-messages="invalEqConsPass" ng-show="invalEqConsPass">{{passEqConseMsg}}</div>
				<div ng-messages="invalidConsPass" ng-show="invalidConsPass">{{passConseMsg}}</div>
				<div ng-messages="invalidMayuPass" ng-show="invalidMayuPass">{{passMayusMsg}}</div>
				<div ng-messages="invalidCharPass" ng-show="invalidCharPass">{{passCharaMsg}}</div>
				<div ng-messages="invalidNumbPass" ng-show="invalidNumbPass">{{passNumbMsg}}</div>
				<div ng-messages="restrictiveWord" ng-show="restrictiveWord">{{invWordMsg}}</div>
			</div>
		</div>


	</md-input-container>
	</div>
    <div layout-gt-sm="row" >
    <md-input-container class="md-block" flex-gt-sm="" layout-padding>
		<!-- Usuario -->
		<label>Confirmar nueva contraseña</label>				 
		<input type="password" id="confirmPass" ng-model="chPassUser.confirmPass" name="confirmPass" value="confirmPass" ng-blur="passConfirm(chPassUser.newPass, chPassUser.confirmPass)" style="width: 200px" required />
		<div class="error-wrapper" ng-if="formD.chPassUser.confirmPass.$invalid || invalidConfirm">
			<div ng-messages="formD.chPassUser.confirmPass.$error || formD.chPassUser.confirmPass.$dirty" ng-messages-multiple>
				<div ng-message="required">{{requerido}}</div>	
			</div>		
			<div ng-messages="formD.chPassUser.confirmPass.$invalid" >			
				<div ng-messages="invalidConfirm" ng-show="invalidConfirm" ng-hide="formD.chPassUser.confirmPass.$error.required">{{confirmPass}}</div>
			</div>
        </div>
	</md-input-container>
    </div>
</div>
</md-dialog-content>
<md-dialog-actions layout="row">
	<div layout="row" layout-align="end center">
		<md-button type="submit"  ng-disabled="habSubmit || progresssBar" ng-click="submitted=true">
			<md-tooltip>Guardar Contraseña</md-tooltip>
				<md-icon class="material-icons" md-svg-icon="components/assets/svg/save_black.svg"></md-icon>
			</md-button>	
		<span class="ng-messages" style="color:red" ng-show='((formD.chPassUser.oldPass.$invalid && formD.chPassUser.oldPass.$dirty && formD.chPassUser.oldPass.$touched) ||
	  	(formD.chPassUser.newPass.$invalid && formD.chPassUser.newPass.$dirty && formD.chPassUser.newPass.$tocuhed) ||
	    (formD.chPassUser.confirmPass.$invalid && formD.chPassUser.confirmPass.$dirty && formD.chPassUser.confirmPass.$touched))'>Verificar campos en rojo </span>	
	</div>
</md-dialog-actions>
</form>
<div layout="row" layout-sm="column" layout-align="space-around" style="position: absolute;bottom:1%;height:2000px;width:100%" ng-show="progressBar">
                <md-progress-circular md-mode="indeterminate" md-diameter="100" style="position:fixed;bottom:50%"></md-progress-circular>
        </div>
</md-dialog>


</div>