<div class="page-container" ng-controller="usersController">
<md-dialog aria-label="dicionario de contraseñas">
<form name="form.dictionary"  ng-submit="!repPuntoyComa && !finPuntoyComa && !invLenght && !repPalabra && form.dictionary.$valid && dictionaryFormSubmit($event)" ng-init="cargarPalabras()" ng-cloak novalidate>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<md-icon md-svg-src="components/assets/svg/books_white.svg" ></md-icon>
		<h5> Diccionario de Contraseñas</h5>
		<span flex></span>
	    <md-button class="md-icon-button" ng-click="confirmClose($event)" ng-controller="menuController">
	        <md-icon md-svg-src="components/assets/svg/close.svg" aria-label="Close dialog"></md-icon>
	    </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content>

	<div class="md-dialog-content">
		<div layout-gt-sm="row"  >
		<md-input-container  class = "md-block">
			<label>Ingrese las palabras restringidas para las contraseñas del sistema, separadas por punto y coma(;) y sin espacios</label>	
			<textarea id="palabra" name="palabra" ng-model="dictionary.palabras" rows='5' cols='145' value="palabras" maxlength="500" ng-blur="validaPalabras(dictionary.palabras)"></textarea>			 
			<div ng-messages="form.dictionary.palabra.$error" ng-if="form.dictionary.palabra.$touched || form.dictionary.palabra.$dirty" ng-messages-multiple>	
			<div ng-messages="repPuntoyComa" ng-show="repPuntoyComa">{{repPtoyComaMsg}}</div>
			<div ng-messages="finPuntoyComa" ng-show="finPuntoyComa">{{finPtoyComaMsg}}</div>
			<div ng-messages="invLenght" ng-show="invLenght">{{invLenghtMsg}}</div>
			<div ng-messages="repPalabra" ng-show="repPalabra">{{repPalabraMsg}}</div>
			
		</div>
			
		</md-input-container>
		</div>
	</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
	<div layout="row" layout-align="end center">
		<md-button type="submit" ng-disabled="progressBar">
			<md-tooltip>Guardar Diccionario</md-tooltip>
				<md-icon class="material-icons" md-svg-icon="components/assets/svg/save_black.svg"></md-icon>
			</md-button>	
		<span class="ng-messages" style="color:red" ng-show='((form.dictionary.palabra.$invalid && form.dictionary.palabra.$dirty))'>Verificar campos en rojo </span>	
	</div>
</md-dialog-actions>
</form>
<div layout="row" layout-sm="column" layout-align="space-around" style="position: absolute;bottom:1%;height:2000px;width:100%" ng-show="progressBar">
                <md-progress-circular md-mode="indeterminate" md-diameter="100" style="position:fixed;bottom:50%"></md-progress-circular>
        </div>
</md-dialog>
</div>