<div ng-controller="userProfileController">
    <md-card>
        <md-content layout="row" layout-align="start start" ng-cloak>

            <div flex-gt-sm="30" layout-md>
                <md-sidenav name="perfiles" id="perfiles" class="md-sidenav-left" md-component-id="profile" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4" flex>
                    <md-toolbar class="md-hue-3" layout="row">
                        <span class="md-toolbar-tools hide-sm md-padding" hide-sm>Gestión de perfiles</span>
                    </md-toolbar>
                    <!-- lista de perfiles -->
                    <section md-dynamic-height flex>
                        <md-content class="md-padding side-menu collapsed" layout="column" role="navigation" style="height: 80%">
                            <div>
                                <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()" ng-disabled="validarList()">
                                    <span ng-if="isChecked()"></span>Seleccionar Todos los perfiles
                                </md-checkbox>
                            </div>
                            <md-list flex layout="column">
                                <md-item ng-repeat="item in items | orderBy: 'id' ">
                                    <md-item-content ng-hide="item.id == 1 || item.id == IdProfile">
                                        <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)" ng-disabled="validarList()">
                                            {{ item.nombre }}
                                        </md-checkbox>
                                    </md-item-content>
                                </md-item>
                            </md-list>
                        </md-content>
                    </section>
                </md-sidenav>
                <md-button class="md-icon-button hide-gt-sm" aria-label="Side Panel" ng-click="menuProfile()" hide-gt-sm>
                    <md-tooltip>Gestión perfiles</md-tooltip>
                    <md-icon class="md-primary md-icon-button" class="material-icons" md-svg-icon="components/assets/svg/more_vert.svg"></md-icon>
                </md-button>
            </div>

            <!-- funcionalidad gestión de perfiles -->
            <div flex="70" flex layout-md>

                <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
                    <md-tab flex layout-md id="crear" data-ng-if="tabNew()" ng-disabled="opcHabNew || selectAll" md-on-select="onTabChanges(0)">
                        <md-tab-label>
                            <md-tooltip>Nuevo Perfil</md-tooltip>
                            <md-icon class="material-icons" md-svg-icon="components/assets/svg/plus.svg"></md-icon>
                        </md-tab-label>

                    </md-tab>
                    <md-tab flex layout-md id="consultar" data-ng-if="tabRep() || tabMod() || tabDel()" ng-disabled="opcHabCon && !selectAll" md-on-select="onTabChanges(1)">
                        <!-- ng-disabled="tabHab" para habilitar o deshabilitar-->
                        <md-tab-label>
                            <md-tooltip>Detalle Perfil</md-tooltip>
                            <md-icon class="material-icons" md-svg-icon="components/assets/svg/description.svg"></md-icon>
                        </md-tab-label>

                    </md-tab>

                </md-tabs>

                <div ui-view="modulosPerfil"></div>


            </div>


        </md-content>

    </md-card>

</div>
