<div ng-controller="usersController">
<div layout="column" layout-fill>
<md-card ng-cloak flex>
    <md-toolbar class="md-hue-3"  layout="row" show-gt-md>     
        <span class="md-toolbar-tools hide-sm md-padding" hide-sm>Gestión de Usuarios</span>     
    </md-toolbar>

    <md-card-actions >
        <div layout="row" layout-align="end center">
            <md-button ng-click="refresh($event)">
               <md-tooltip>Refrescar Pantalla</md-tooltip>
               <md-icon class="material-icons" md-svg-icon="components/assets/svg/refresh.svg"></md-icon>
           </md-button> 
            <md-button ng-click="nuevoUsuario($event)" ng-show="buttonNew()">
                <md-tooltip>Nuevo Usuario</md-tooltip>
                <md-icon class="material-icons" md-svg-icon="components/assets/svg/plus.svg"></md-icon>
            </md-button>            
            <md-button ng-click="modificaUsuario($event)" ng-show="buttonMod()">
                <md-tooltip>Modificar Usuario</md-tooltip>
                 <md-icon class="material-icons" md-svg-icon="components/assets/svg/modify.svg"></md-icon>
            </md-button>                                             
            <md-button ng-click="reportes($event)" ng-show="buttonRep()" >
                <md-tooltip>Generar reporte Usuarios</md-tooltip>
                <md-icon class="material-icons" md-svg-icon="components/assets/svg/archive.svg"></md-icon>
            </md-button>
            <md-button ng-show="buttonChPass($event)" ng-click="chPassUser($event)">
                <md-tooltip>Restablecer Contraseña</md-tooltip>
                <md-icon class="material-icons" md-svg-icon="components/assets/svg/key_black.svg"></md-icon>                
            </md-button>
            <md-button ng-click="bloqUsuario($event)" ng-show="buttonBloq()">
                <md-tooltip>Desbloquear Usuario</md-tooltip>
                <md-icon class="material-icons" md-svg-icon="components/assets/svg/lock_open.svg"></md-icon>            
            </md-button>
            <md-button ng-click="diccionario($event)" ng-show="buttonDicc()">
                <md-tooltip>Diccionario de Contraseñas</md-tooltip>
                <md-icon class="material-icons" md-svg-icon="components/assets/svg/books.svg"></md-icon>            
            </md-button>
        </div>
    </md-card-actions>

        <md-card-content  layout="column" layout-align="center" ng-show="validaShow()" flex>
        <div layout="row" layout-align="start center">
           <md-table-container flex>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise" >
                          <div class="form-group">  
            <div layout-gt-sm="row">  
                <label>Filtros de búsqueda:            </label>
                <md-input-container class="md-block" layout-gt-lg="row" >
                    <label>Tipo Documento</label>
                    <md-select ng-model="filter.search.tipoDocumento.nombre">   
                        <md-option value="">Seleccione</md-option>                
                        <md-option ng-value="user.nombre" ng-repeat="user in tipoDocumentos |  unique:'nombre'">{{user.nombre}}
                        </md-option>                       
                    </md-select>

                </md-input-container>  
                <span flex></span>
                <md-input-container class="md-block" layout-gt-lg="row" >
                    <input type="text" ng-model="filter.search.nombres" class="form-control input-gt-lg" placeholder="Nombres"/>

                </md-input-container>
                <span flex></span>
                <md-input-container class="md-block" layout-gt-lg="row" >
                    <input type="text" ng-model="filter.search.numeroIdentificacion" class="form-control input-lg" placeholder="Número de Documento"/>
                </md-input-container>
                <span flex></span>
                <md-input-container class="md-block" layout-gt-lg="row" >
                    <input type="text" ng-model="filter.search.login" class="form-control input-gt-lg" placeholder="Login"/>

                </md-input-container>
                <span flex></span>
                <md-input-container class="md-block" layout-gt-lg="row" >
                    <input type="text" ng-model="filter.search.perfil.nombre" class="form-control input-lg" placeholder="Perfil"/>
                </md-input-container>
                <span flex></span>
                <md-input-container class="md-block" layout-gt-lg="row" >
                    <label>Estado</label>
                    <md-select ng-model="filter.search.estado"> 
                        <md-option value="">Seleccione</md-option>                  
                        <md-option ng-repeat="user in userList |unique :'estado'" ng-value="user.estado">{{user.estado}}</md-option>
                    </md-select>
                </md-input-container>
                <span flex></span>
                <md-input-container class="md-block" layout-gt-lg="row" >
                    <input type="text" ng-model="filter.search.usuarioRolEntidad.entidad.nombre" class="form-control input-lg" placeholder="Entidad"/>
                </md-input-container>
            </div>    
                            
            </div>
 
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>            
                <!-- <th md-column md-order-by="id"><span>ID</span></th> -->
                <th md-column md-order-by="tipoDocumento"><span>Tipo Documento</span></th>
                <th md-column md-numeric md-order-by="numeroIdentificacion" md-desc><span>Número Documento</span></th>
                <th md-column md-order-by="nombres"><span>Nombres</span></th>
                <th md-column  md-order-by="login"><span>Login</span></th>
                <th md-column  md-order-by="perfil"><span>Perfil</span></th>
                <th md-column  md-order-by="estado"><span>Estado</span></th>
                <th md-column  md-order-by="usuarioRolEntidad" ><span>Entidad</span></th>                
              </tr>


            </thead>
            <tbody md-body>
              <tr md-row md-select="user" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="validarTabla()" ng-repeat="user in userList | filter: filter.search  | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" ng-hide="user.id == userId" >

                <!-- <td md-cell id="id">{{user.id}}</td>  -->
<!--                 <td md-cell> esto es para poner una lista desplegable en la tabla
                  <md-select ng-model="users.user" placeholder="Other">
                    <md-option ng-value="user" ng-repeat="user in userList">{{user.id}}</md-option>
                  </md-select>
                </td> -->
                <td md-cell id="tipoDoc">{{user.tipoDocumento.nombre}}</td>
                <td md-cell id="numDoc">{{user.numeroIdentificacion}}{{user.dv}}</td>
                <td md-cell id="nombresa">{{user.nombres}} {{user.apellidos}}</td>
                <td md-cell id="login">{{user.login}}</td>
                <td md-cell id="perfil" >{{user.perfil.nombre }}</td>
                <td md-cell id="estado" >{{user.estado}}</td>
                <td md-cell id="entidad">{{user.usuarioRolEntidad.entidad.nombre}}</td>
                
              </tr>


            </tbody>
          </table>         
        </md-table-container>
        </div>
        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{userListLen}}" md-page-select="options.pageSelect"  md-on-paginate="logPagination"></md-table-pagination>

    </md-card-content>

</md-card>

</div>
   
</div>
