<div class="page-container" ng-controller="inventarioController"> 
		

<md-card class="page" flex>	
<form name="form.newReferencia" ng-submit="form.newReferencia.$valid && !exits && !spaceField && submitReferenciaForm($event)" ng-cloak novalidate>
		<md-card-content flex>		     			    
		 	<div layout-gt-sm="row">			
			    <md-input-container class="md-block" flex-gt-sm="" >
			    	 <!-- COD REFERENCIA -->
			    	<label>Id producto</label>				 
                    <input id="cod_producto" ng-model="newReferencia.cod_producto"  name="cod_producto" maxlength="15" regex-Doc="newReferencia.cod_producto" required valid-number style="width: 250px"/>									
					<div ng-messages="form.newReferencia.cod_producto.$error" >
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="regexDoc">{{invalidCh}}</div>
					</div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="" >
                    <!-- REFERENCIA -->
			    	<label>Referencia</label>				 
                    <input id="referencia" ng-model="newReferencia.referencia" name="referencia"  maxlength="50" regex-Doc="newReferencia.referencia" required/>									
					<div ng-messages="form.newReferencia.cod_referencia.$error" >
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="regexDoc">{{invalidCh}}</div>
					</div>
				</md-input-container>
                <md-input-container class="md-block" flex-gt-sm="" >
                    <!-- REFERENCIA -->
			    	<label>Color</label>				 
                    <input id="color" ng-model="newReferencia.color" name="color"  maxlength="50" regex-Doc="newReferencia.color" required/>									
					<div ng-messages="form.newReferencia.color.$error" >
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="regexDoc">{{invalidCh}}</div>
					</div>
				</md-input-container>
	    	</div>
            <div layout-gt-sm="row">			
			    <md-input-container class="md-block" flex-gt-sm="" >
			    	 <!-- COD REFERENCIA -->
			    	<label>Precio</label>				 
                    <input id="precio" ng-model="newReferencia.precio"  name="precio" maxlength="15" regex-Doc="newReferencia.precio" required valid-number style="width: 250px"/>									
					<div ng-messages="form.newReferencia.precio.$error" >
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="regexDoc">{{invalidCh}}</div>
					</div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="" >
                    <!-- REFERENCIA -->
			    	<label>Cantidad</label>				 
                    <input id="cantidad" ng-model="newReferencia.cantidad" name="cantidad"  maxlength="50" regex-Doc="newReferencia.cantidad" required/>									
					<div ng-messages="form.newReferencia.cantidad.$error" >
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="regexDoc">{{invalidCh}}</div>
					</div>
				</md-input-container>
                <md-input-container class="md-block" flex-gt-sm="" >
                    <!-- REFERENCIA -->
			    	<label>Recurso</label>				 
                    <input id="recurso" ng-model="newReferencia.recurso" name="recurso"  maxlength="50" regex-Doc="newReferencia.recurso" required/>									
					<div ng-messages="form.newReferencia.recurso.$error" >
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="regexDoc">{{invalidCh}}</div>
					</div>
				</md-input-container>
                <md-input-container class="md-block" flex-gt-sm="" >
                    <!-- REFERENCIA -->
			    	<label>Palabras clave</label>				 
                    <input id="palabra_clave" ng-model="newReferencia.palabra_clave" name="palabra_clave"  maxlength="50" regex-Doc="newReferencia.palabra_clave" required/>									
					<div ng-messages="form.newReferencia.palabra_clave.$error" >
						<div ng-message="required">{{requerido}}</div>
						<div ng-message="regexDoc">{{invalidCh}}</div>
					</div>
				</md-input-container>
	    	</div>
            		 	
		</md-card-content>    
			<md-card-actions>
			<div layout="row" layout-align="end center">
				<md-button type="submit"  class="btn btn-primary" ng-click="submitted=true" ng-disabled="progressBar">Guardar
				</md-button>	
				<span class="ng-messages" style="color:red" ng-show='(submitted && form.newReferencia.$invalid)'
			    >Verificar campos en rojo</span>
			</div>
            <div layout="row" layout-sm="column" layout-align="space-around" style="position: absolute;bottom:1%;height:2000px;width:100%" ng-show="progressBar">
                    <md-progress-circular md-mode="indeterminate" md-diameter="100" 
                        style="position:fixed;bottom:50%"></md-progress-circular>
            </div>
	
			</md-card-actions>
		</form>
		</md-card>
		

</div>